$font-stack:  "Open Sans", sans-serif
$company-color: rgb(252, 172, 69)

*
  margin: 0
  padding: 0
  font-family: $font-stack

li
  list-style: none

a
  text-decoration: none

header
  display: flex
  width: 100%
  background-color: #000
  height: 93px

.header__logo
  text-transform: uppercase
  color: white
  font-size: 24px
  font-weight: 800
  margin-top: 56px
  margin-left: 12%
  cursor: pointer

.header__menu
  margin-top: 56px
  margin-left: 29%

.header__links
  a
    color: #fff
    padding: 12px 16px
    font-size: 14px
    font-weight: bold

  a:hover
    border-bottom: 3px solid $company-color

main
  display: flex
  width: 100%
  flex-direction: column

.main__welcome
  background: #000
  text-align: center
  padding: 210px 0 420px 0
  h1
    font-size: 44px
    color: rgb(153, 153, 153)
    font-weight: lighter
    .mycompany
      color: $company-color
      font-weight: bold
  p
    font-size: 20px
    color: rgb(213, 213, 213)

.wrapper
  width: 83%
  margin: 0 auto

.main__about
  display: flex
  padding: 100px 0 100px 0

.about__right
  margin-left: 155px
  h3
    display: inline-block
    text-transform: uppercase
    padding: 20px 0 20px 0
    color: rgb(34,34 ,34 )
    font-size: 34px
    border-bottom: 3px solid $company-color
  span
    font-weight: lighter
  p
    padding: 30px 0 30px 0
    font-size: 18px
    color: rgb(108, 108, 108)